export(analyze.data.frame)
export(analyze.formula)
export(analyze.list)
export(analyze)
export(AnalyzeColumn)
export(FormulaInfo)
S3method(print, analyze.data.frame)
S3method(print, analyze.formula)
S3method(print, analyze.list)
S3method(print, info.atomic)
S3method(print, info.matrix)
