export(analyze.data.frame)
export(analyze.formula)
export(analyze.list)
export(analyze)
export(AnalyzeColumn)
export(formula.info)
S3method(print, data.frame.analysis)
S3method(print, print, analyze.formula)
S3method(print, analyze.list)
S3method(print, info.atomic)
S3method(print, info.matrix)
